<h1>Sign Up</h1>

<div class="jumbotron text-center">
   <h1>Coming Soon</h1>

   <br/><br/>

   <p>Don't miss our launch date, sign up now.</p>

   <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="email-input">Email address</label>
        {{input type="text" class="form-control" id="email-input" value=userEmail placeholder="Email"}}
      </div>
      <!-- <div class="form-group">
          {{input type="username" value=username class="form-control" placeholder="Please type your username." autofocus="autofocus"}}
      </div> -->
      <div class="form-group">
        <label for="password-input">Password</label>
        {{input type="password" class="form-control" id="password-input" value=userPassword placeholder="Password"}}
      </div>
      <div class="form-group">
          <button class="btn btn-primary btn-lg btn-block" {{action 'signUp'}} disabled={{isDisabled}}>Sign Up</button>
      </div>
      <div class="form-group">
        {{#if responseMessage}}
          <div class="alert alert-success">{{responseMessage}}</div>
        {{/if}}
      </div>
    </div>
  </div>

</div>
